.icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    font-size: 30px;
    fill: black;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}


.player__album:before,
.player__play svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.player.play .player__timeline .player__author {
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.player.play .player__timeline .player__song {
    padding-top: 30px;
    font-size: 24px;
}

.player.play .player__timeline {
    -webkit-transform: translateY(90%);
    -ms-transform: translateY(90%);
    transform: translateY(90%);
    height: 280px;
}

.player.play .player__album:after {
    -webkit-box-shadow: 0 30px 28px -10px rgba(0, 0, 0, .2);
    box-shadow: 0 30px 28px -10px rgba(0, 0, 0, .2)
}

/* .player.play .player__album {
    top: 30px;
}

.player.animate__animated.animate__zoomIn.play .player__bar .player__album .player__albumImg {
    scale: 1.3;
} */

.player.play .pause {
    display: inline-block
}

.player.play .play {
    display: none
}

.player__album {
    min-width: 80px;
    min-height: 80px;
    max-width: 80px;
    max-height: 80px;
    /* margin-right: 22px; */
    position: relative;
    top: 0px;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.player__album:before {
    content: '';
    width: 25px;
    height: 25px;
    z-index: 3;
    background: #fff
}

.player__album,
.player__album:after,
.player__album:before,
.player__albumImg {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    transition: all 1s ease-in-out;
}

.player__album:after {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: absolute
}

.player__albumImg {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    display: none;
    transition: scale 1s ease-in-out;
}

.player__albumImg.active-song {
    display: block
}

.player__bar,
.player__controls,
.player__play,
.player__prev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.player__bar {
    background: rgba(255, 255, 255, 0.45);
    padding: 10px 25px;
    height: 100px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 3;
    transition: all 0.5s ease-in-out;
}

.player__controls,
.player__play,
.player__prev {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.player__play,
.player__prev {
    cursor: pointer;
    height: 80px;
    width: 80px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-right: 3px
}

.player__prev {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.player__next:hover,
.player__play:hover,
.player__prev:hover {
    background: rgb(59, 59, 59)
}

.player__play:hover svg,
.player__prev:hover svg {
    fill: #fff
}

.player__play {
    position: relative
}

.player__play svg {
    font-size: 20px
}

.player__play svg.pause {
    display: none
}

.player__next,
.player__play,
.player__timeline {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.player__next {
    cursor: pointer;
    width: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin-left: -8px;
    height: 80px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.player__next:hover svg {
    fill: #fff
}

.player__timeline {
    background: #fff6fb;
    height: 95px;
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 1;
    padding-left: 60px;
    padding-right: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.player #playhead,
.player__timeline,
.player__timelineBar {
    -webkit-border-radius: 15px;
    border-radius: 15px
}

.player__timelineBar {
    background: rgba(0, 0, 0, 0.35);
    margin-top: 13px;
    height: 4px;
    position: relative
}

.player #playhead {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    /* background: #fd6d94 */
}

.player__author {
    line-height: 1;
    margin: 0;
    font-size: 4px;
    opacity: 0.75;
}

.player__song {
    line-height: 1;
    font-weight: 700;
    margin-bottom: 6px;
    margin-top: 15px;
    font-size: 4px;
}

.player {
    position: relative;
}

.player.animate__animated.animate__zoomIn.play .player__bar .player__timeline {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

.player__timeline,
.player__song,
.player__author,
#space__container {
    transition: all 1s ease-in-out;
}

.player__song,
.player__author {
    white-space: nowrap;
    overflow: hidden;
}

.player-scroll-container {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.player-scroll-text {
    display: inline-block;
    padding-right: 50%;
    padding-left: 0%;
    margin: 0px;
    transition: all 1s ease-in-out;
}

@keyframes playerScroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100.25%);
    }
}

#motion {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 100%;
    z-index: -1;
}