@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Noto+Sans+Thai&display=swap');

* {
    font-family: 'Noto Sans Thai', sans-serif;
}

body {
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: auto;
}

.jumbotron {
    background-color: #007bff;
    color: #fff;
}

#musicInfo {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

#albumImage {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

#noImageText {
    display: block;
    text-align: center;
}

#imageSection {
    padding-top: 15px;
    padding-bottom: 30px;
}

.table-container {
    display: block;
}

.table-connect {
    margin-top: -15px;
    /* ระยะห่างระหว่างตาราง */
}

.btn-copy {
    width: 80px;
    padding: 0px;
    margin-top: -30px;
    margin-bottom: -30px;
    min-height: 35px;
}

.footer-text {
    width: 80%;
}

.long-btn {
    width: 100%;
}